In [1]:
import pandas as pd

In [6]:
vine_df=pd.read_csv("vine_table.csv", index_col=0)
vine_df

                star_rating  helpful_votes  total_votes vine verified_purchase
review_id
R3I2DHQBR577SS          5.0            0.0          0.0    N                 Y
R1QNE9NQFJC2Y4          5.0            0.0          0.0    N                 Y
R3LIDG2Q4LJBAO          5.0            0.0          0.0    N                 Y
R3KSZHPAEVPEAL          5.0            0.0          0.0    N                 Y
RAI2OIG50KZ43           5.0            0.0          0.0    N                 Y
...                     ...            ...          ...  ...               ...
RZ7RZ02MTP4SL           5.0           10.0         10.0    N                 N
R2IRC0IZ8YCE5T          3.0           23.0         23.0    N                 N
R1U4ZSXOD228CZ          5.0           89.0         97.0    N                 N
R3SFJLZE09URWM          5.0           10.0         10.0    N                 N
R1MEWK4I7YS5XK          5.0           23.0         23.0    N                 N

[5115666 rows x 5 columns]

In [7]:
# create a new DataFrame or table to retrieve all the rows where the total_votes count >= 20 to pick reviews 
#that are more likely to be helpful and to avoid having division by zero errors later on.

total_votes_df = vine_df.loc[vine_df["total_votes"]>= 20]
total_votes_df

                star_rating  helpful_votes  total_votes vine verified_purchase
review_id
R2QRUE9REK8OUC          5.0           18.0         23.0    N                 Y
R2POXRW6PXHXZG          5.0           25.0         30.0    N                 Y
RZN43XRZ89IIJ           3.0           10.0         27.0    N                 N
R29Q748WSHZ3SN          5.0           23.0         24.0    N                 Y
R46UL5G5HEPRZ           5.0           18.0         20.0    N                 N
...                     ...            ...          ...  ...               ...
R3SHWVR8GO9WK4          5.0           26.0         26.0    N                 N
R2KNC11QJB7V5U          5.0           30.0         34.0    N                 N
R2IRC0IZ8YCE5T          3.0           23.0         23.0    N                 N
R1U4ZSXOD228CZ          5.0           89.0         97.0    N                 N
R1MEWK4I7YS5XK          5.0           23.0         23.0    N                 N

[79227 rows x 5 columns]

In [13]:
#Filter the new DataFrame or table created in Step 1 and create a new DataFrame or table to retrieve all the rows 
#where the number of helpful_votes divided by total_votes is equal to or greater than 50%.
helpful_df= total_votes_df.loc[(total_votes_df["helpful_votes"]/total_votes_df["total_votes"]>= 0.5)]
helpful_df

                star_rating  helpful_votes  total_votes vine verified_purchase
review_id
R2QRUE9REK8OUC          5.0           18.0         23.0    N                 Y
R2POXRW6PXHXZG          5.0           25.0         30.0    N                 Y
R29Q748WSHZ3SN          5.0           23.0         24.0    N                 Y
R46UL5G5HEPRZ           5.0           18.0         20.0    N                 N
R2UQHSNWU6WTZX          5.0           74.0         76.0    N                 N
...                     ...            ...          ...  ...               ...
R3SHWVR8GO9WK4          5.0           26.0         26.0    N                 N
R2KNC11QJB7V5U          5.0           30.0         34.0    N                 N
R2IRC0IZ8YCE5T          3.0           23.0         23.0    N                 N
R1U4ZSXOD228CZ          5.0           89.0         97.0    N                 N
R1MEWK4I7YS5XK          5.0           23.0         23.0    N                 N

[74760 rows x 5 columns]

In [10]:
#Filter the DataFrame or table created in Step 2, and create a new DataFrame or table that retrieves all the rows 
#where a review was written as part of the Vine program (paid), vine == 'Y'.

vine_y_df= helpful_df.loc[helpful_df["vine"]=="Y"]
vine_y_df

                star_rating  helpful_votes  total_votes vine verified_purchase
review_id
R106V6GUNWRSSS          5.0          857.0        889.0    Y                 N
R37N8KZS48W36A          5.0           36.0         37.0    Y                 N
R1LNEQ2MQE03PD          5.0           49.0         66.0    Y                 N
R1ECPWPUNK36ES          5.0           29.0         31.0    Y                 N
R16BUM7UQZLOM6          3.0          107.0        112.0    Y                 N
...                     ...            ...          ...  ...               ...
R23P18F8OSXQXL          5.0           38.0         40.0    Y                 N
R39VHZ5XXVYKN           5.0           22.0         27.0    Y                 N
R2F4KBBD3MTMKP          5.0          390.0        423.0    Y                 N
RQY6RA1SE9R3H           5.0           20.0         23.0    Y                 N
R6SS5MXSYP0FI           5.0           25.0         30.0    Y                 N

[647 rows x 5 columns]

In [11]:
#Repeat Step 3, but this time retrieve all the rows where the review was not part of the 
#Vine program (unpaid), vine == 'N'.

vine_n_df= helpful_df.loc[helpful_df["vine"]=="N"]
vine_n_df

                star_rating  helpful_votes  total_votes vine verified_purchase
review_id
R2QRUE9REK8OUC          5.0           18.0         23.0    N                 Y
R2POXRW6PXHXZG          5.0           25.0         30.0    N                 Y
R29Q748WSHZ3SN          5.0           23.0         24.0    N                 Y
R46UL5G5HEPRZ           5.0           18.0         20.0    N                 N
R2UQHSNWU6WTZX          5.0           74.0         76.0    N                 N
...                     ...            ...          ...  ...               ...
R3SHWVR8GO9WK4          5.0           26.0         26.0    N                 N
R2KNC11QJB7V5U          5.0           30.0         34.0    N                 N
R2IRC0IZ8YCE5T          3.0           23.0         23.0    N                 N
R1U4ZSXOD228CZ          5.0           89.0         97.0    N                 N
R1MEWK4I7YS5XK          5.0           23.0         23.0    N                 N

[74113 rows x 5 columns]

In [33]:
#Determine the total number of reviews, the number of 5-star reviews, and the percentage of 5-star reviews 
#for the two types of review (paid vs unpaid).

total_reviews= helpful_df.(helpful_df["vine"]).sum()
print(total_reviews)


five_stars = helpful_df.groupby(helpful_df["star_rating"]== 5.0).count()
five_stars

Series([], dtype: float64)

             star_rating  helpful_votes  total_votes   vine  verified_purchase
star_rating
False              31314          31314        31314  31314              31314
True               43446          43446        43446  43446              43446

In [ ]:

paid_percentage= int(vine_y_df["star_rating"]==5.0)/
# unpaid_percentage =